{% extends 'base/adminbase.html' %}

{% block slide %}
<div class="navbar-nav w-100">
    <a href="creador" class="nav-item nav-link "><i class="fa fa-tachometer-alt me-2"></i>Tablero</a>
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-users me-2"></i>Usuarios</a>
        <div class="dropdown-menu bg-transparent border-0">
            <a href="c_usuarios" class="dropdown-item">Crear usuario</a>
            <a href="c_listau" class="dropdown-item active">Lista de usuarios</a>
        </div>
    </div>
    <a href="c_boletos" class="nav-item nav-link "><i class="fa fa-file-alt me-2"></i>Boletos</a>
</div>
{% endblock %}


{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Lista de usuarios</h6>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Estacionamiento</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for datos in lista: %}
                    <form action="{{ url_for('eliminar')}}" method="POST">
                        <tr>
                            <th scope="row">{{datos.id}}</th>
                            <td>{{datos.estacionamiento}}</td>
                            <td>{{datos.user}}</td>
                            <td>{{datos.rol}}</td>
                            <input type="hidden" name="id" value="{{datos.id}}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            {%if datos.rol != 'CREADOR'%}
                                <td><button type="submit" class="btn btn-primary py-3 w-100 mb-4">eliminar</button></td>
                            {%endif%}
                        </tr>
                    </form>
                    {%endfor%}
                    </tbody>
                </table>
                <nav aria-label="Paginación">
                    <ul class="pagination justify-content-center">
                        <!-- Botón "anterior" -->
                        <li class="page-item {% if pagina_actual == 1 %}disabled{% endif %}">
                            <a class="btn btn-outline-primary" href="/c_listau?page={{ pagina_actual - 1 }}" tabindex="-1" {% if pagina_actual == 1 %}aria-disabled="true"{% endif %}>Anterior</a>
                        </li>
                        <!-- Números de página -->
                        {% for pagina_num in range(1, total_paginas + 1) %}
                        <li class="page-item {% if pagina_num == pagina_actual %}active{% endif %}">
                            <a class="btn btn-outline-primary" href="/c_listau?page={{ pagina_num }}">{{ pagina_num }}</a>
                        </li>
                        {% endfor %}
                        <!-- Botón "siguiente" -->
                        <li class="page-item {% if pagina_actual == total_paginas %}disabled{% endif %}">
                            <a class="btn btn-outline-primary" href="/c_listau?page={{ pagina_actual + 1 }}" {% if pagina_actual == total_paginas %}aria-disabled="true"{% endif %}>Siguiente</a>
                        </li>
                    </ul>
                </nav>  
            </div>
        </div>
    </div>
</div>
{% endblock %}